<div class="container">

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 mt-5">
            <h1 style="float:left;">Employee Details</h1>
            <button class="btn btn-primary" style="float:right" routerLink="/employee">Back</button>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 p-1" style="border:1px solid green;">
           <ul style="list-style-type: none;" *ngIf="employee" >
            <li>Name : {{employee.name}}</li>
            <li>Adress :{{employee.address}}</li>
            <li>Gender : {{employee.gender}}</li>            
           </ul>      
        </div>
    </div>

   
</div>
