<div class="container">

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 mt-5">
            <h1 style="float:left;">Employees</h1>
            <button class="btn btn-primary" style="float:right">Add Employee</button>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 p-1" style="border:1px solid red;" *ngFor="let emp of employees">
           <ul style="list-style-type: none;" routerLink="/employee/{{emp._id}}">
               <li>Name : {{emp['name']}}</li>
               <li>Adress :{{emp['address']}}</li>
               <li>Gender : {{emp['gender']}}</li>
               <li style="text-align: right"><button class="btn btn-secondary">Edit</button></li>
           </ul>      
        </div>
    </div>

   
</div>
